.header-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
  background: #5191CD;
  width: fit-content;
  color: white;
}

.header-container ul {
  margin: .5rem;
  padding: 0;
}

.header-container ul li {
  margin-bottom: 1rem;
  list-style-type: none;

}

.header-container ul li a {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}