.show-modal {
  display: block !important;
}

.hide-modal {
  display: none !important;
}

#modal-portal .modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}